.btn{
    background-color: rgba(36, 36, 165, 0.74);
    width: fit-content;
    padding: 0.2rem 1.5rem;
    color: white;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    cursor: pointer;
}
.btn:hover{
    background-color: transparent;
    color: rgba(36, 36, 165, 0.74);
    border: 2px solid rgba(36, 36, 165, 0.74);
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}