.home__container{
    background-color:  #242323;
}



.resume__form__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background: linear-gradient( to left top, rgba(0,0,0,0.5),rgba(0,0,0, 0.9)), 
    url(../images/background1.jpg);
   
    background-position: center;
    background-size: cover; */
    
}

.format__button{
    box-shadow: 2px 2px 15px var(--blue-light);
    display: flex;
    justify-content: space-between;
    background-color:  #131010;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.format__button_bottom{
    box-shadow: 2px 2px 15px var(--blue-light);
    display: flex;
    justify-content: space-between;
    background-color:  #131010;
    padding: 1rem 2rem;
    position: sticky;
    bottom: 0;
    z-index: 1;
}
.top_heading{
    color: var(--blue);
    font-family: cursive
}
.down__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
/* @media screen and (max-width: 1000px){
    .resume__form__container{
        flex-direction: column;
    }
} */