.resumeBuilder__container{
    
    /* background: url(./Components/images/background1.jpg); */
    background-position: center;
    /* background-size: cover; */
    background-color: rgb(177, 236, 247);
}
.resume__form__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main__container{
    height: 105vh;
    
    
}

.format__button{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.down__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
   
    
}